@import "./vars.scss";

@font-face {
  font-family: 'bold';
  src: url("../fonts/bold.ttf"); 
}

body {
  font-family: $font-text;
  background-color: $grey;
  margin: 0;
}

.container {
  margin: 0 auto;
  min-width: $mobile;
  max-width: $desktop;
}

.card {
  background-color: $grey;

  &__content {
    margin: 25px auto 0;
  }
  &__image {
    text-align: center;
  }
  &__bubble {
    margin: 65px auto 0;
  }
}

.content {
  max-width: 380px;
  margin: 0 auto;
  padding: 0 10px;
}

.content__title,
.content__list {
  margin: 25px auto;
}

.content__title {
  color: $dark-blue;
  font-family: $font-titles;
  font-size: $title-text; 
  line-height: 1.3;
  text-align: center; 
}

.content__list {
  list-style-type: none;
  padding: 0;
  padding-left: 45px;
}

.content__item {
  background: url(../images/tick.png) top left no-repeat;
  color: $list-blue;
  font-size: $list-text;
  min-height: 40px;
  padding-left: 45px;
  margin-bottom: 10px;
  max-width: 75%;

  &:last-child {
    margin-bottom: 0;
  }
}

.bubble {
  margin: 0 auto;
  width: 280px;

  &__square {
    background: $light-blue;
    border-radius: 15px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -40px;
      left: calc(50% - 20px);
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 40px solid $light-blue;
    }
  }

  &__text {
    color: $dark-blue; 
    font-family: $font-titles;
    font-size: $bubble-text;
    padding: 25px 0 0;
    text-align: center;
  }  
}

@media (min-width: $tablet) {
  .card {
  
    &__content,
    &__image,
    &__bubble {
      float: left;
      width: 50%;
    }

    &__image,
    &__bubble {
      float: right;
    }

    &__bubble {
      clear: both;
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop) {
  .card {
  
    &__content,
    &__image,
    &__bubble {
      float: left;
      width: 33.333%;
    }
    
    &__bubble {
      clear: none;
      margin-top: 120px;
    } 
  }

  .bubble__square:before {
    top: calc(50% - 20px);
    left: -40px;
    border-left: 40px solid transparent;
    transform: rotate(180deg);
  }
}