@font-face {
  font-family: 'bold';
  src: url("../fonts/bold.ttf"); }

.card {
  /*border: 2px black dotted;*/
  background-color: #F5F5F5;
  min-width: 320px;
  overflow: hidden;
  padding: 5px;
  max-width: 1000px;
  min-width: 320px; }

.card__content {
  /*border: 2px red solid;*/
  max-width: 320px;
  margin: 0 auto 10px; }

.content__title {
  color: #064868;
  font-family: 'bold';
  font-size: 35px;
  line-height: 1.3;
  margin: 25px auto 0px;
  text-align: center;
  width: 250px; }

.content__list {
  list-style-type: none; }

.list__item {
  background: url(../images/tick.png) top left no-repeat;
  /*border: 1px solid green;*/
  color: #3F7499;
  font-size: 15px;
  font-family: Arial;
  height: 40px;
  line-height: 1.2;
  margin: 0 auto;
  margin-right: 10px;
  max-width: 320px;
  padding-left: 45px;
  padding-top: 10px; }

.card__image {
  /*border: 2px blue solid;*/
  margin: 0 auto 10px;
  max-width: 320px; }

.image {
  /*background-color: white;*/
  /*background-blend-mode: screen;*/
  background: url(../images/churchill-dog.png) top left no-repeat;
  text-align: center;
  width: 320px;
  height: 430px; }

.card__bubble {
  /*border: 2px green solid;*/
  margin: 0 auto;
  width: 220px; }

.bubble {
  margin: -40px; }

.bubble__triangle {
  border-left: 45px solid transparent;
  border-top: 35px solid #BDE5FF;
  float: left;
  margin-top: 45px; }

.bubble__square {
  background: #BDE5FF;
  border-radius: 15px;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  width: 275px; }

.bubble__text {
  color: #074A6C;
  font-family: 'bold';
  font-size: 50px;
  padding: 25px 0 0 35px; }

@media (min-width: 960px) {
  .card__content {
    float: left; }
  .card__image {
    float: left; }
  .card__bubble {
    float: left;
    margin-top: 120px;
    padding-left: 10px; }
  .bubble {
    margin-left: -10px; } }
